
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý tài khoản</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lí tài khoản</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" data-toggle="modal" data-target="#myModalAccount" onclick="clearRegisterAccount();" class="btn btn-success">Đăng ký tài khoản</button>
                                </div>
                                @*<div class="col-md-3">
                                        <button type="button" onclick="location.href='@Url.Action("WorkingCalendar", "ManageUser")';return false;" class="btn btn-success">Lịch làm việc</button>
                                    </div>*@
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbAccount" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên nhân viên</th>
                                        <th>Số CMND</th>
                                        <th>Chức vụ</th>
                                        <th>Trạng thái tài khoản</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyAccount">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên nhân viên</th>
                                        <th>Số CMND</th>
                                        <th>Chức vụ</th>
                                        <th>Trạng thái tài khoản</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <!-- The Modal Create-->
                        <div class="modal fade" id="myModalAccount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Đăng ký tài khoản</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group" hidden>
                                            <label for="UserIDAcc">Id</label>
                                            <input type="text" class="form-control" id="UserIDAcc" placeholder="ID" />
                                        </div>
                                        <div class="form-group">
                                            <label for="UserName">Tên tài khoản</label>
                                            <input type="text" class="form-control" id="UserNameAcc" placeholder="Tên tài khoản" />
                                        </div>
                                        <div class="form-group">
                                            <label for="PassWord">Mật khẩu</label>
                                            <input type="text" class="form-control" id="PassWordAcc" placeholder="Mật khẩu" />
                                        </div>
                                        @*<div class="form-group">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullNameAcc" placeholder="Tên đầy đủ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="DateOfBirth">Ngày Sinh</label>
                                                <input type="text" class="form-control" id="DateOfBirthAcc" placeholder="Ngày Sinh" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Gender">Giới tính</label>
                                                <input type="text" class="form-control" id="GenderAcc" placeholder="Giới tính" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Address">Địa chỉ</label>
                                                <input type="text" class="form-control" id="AddressAcc" placeholder="Địa chỉ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="PhoneNumber">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneNumberAcc" placeholder="Số điện thoại" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailAcc" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardAcc" placeholder="Số CMND" />
                                            </div>*@
                                        <div class="form-group">
                                            <label for="RoleName">Chức vụ</label>
                                            <select class="form-control" id="cbRoleNameAcc">
                                            </select>
                                        </div>
                                        @*<div class="form-group">
                                                <label for="ParkingPlace">Bãi làm việc</label>
                                                <input type="text" class="form-control" id="ParkingPlaceAcc" placeholder="Email" />
                                            </div>*@
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return AddAccount();">Thêm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return CloseAdd()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Role Account Edit -->
                        <div class="modal fade" id="myModalRoleAccountEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding-left:150px">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Phân quyền</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="AccountIDEdit" placeholder="Id" disabled />
                                        </div>
                                        @*<div class="form-group" hidden>
                                                <label for="AccountName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="AccountNameEdit" placeholder="Tên tài khoản" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="PasswordEdit">Mật khẩu</label>
                                                <input type="text" class="form-control" id="PasswordEdit" placeholder="Mật khẩu" />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="StatusOfWork">Trạng thái</label>
                                                <input type="text" class="form-control" id="StatusAccountEdit" />
                                            </div>*@

                                        <div class="form-group">
                                            <label for="RoleName">Chức vụ</label>
                                            <select class="form-control" id="cbRoleNameREdit">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnUpdateRole" onclick="UpdateRole();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Password Account Edit -->
                        <div class="modal fade" id="myModalPassAccountEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Đặt lại mật khẩu</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="AccountIDPasEdit" placeholder="Id" />
                                        </div>
                                        @*<div class="form-group">
                                                <label for="AccountName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="AccountNamePasEdit" placeholder="Tên tài khoản" />
                                            </div>
                                            <div class="form-group">
                                                <label for="PasswordEdit">Mật khẩu</label>
                                                <input type="text" class="form-control" id="PasswordPasEdit" placeholder="Mật khẩu" />
                                            </div>
                                            <div class="form-group">
                                                <label for="StatusOfWork">Trạng thái</label>
                                                <input type="text" class="form-control" id="StatusAccountPasEdit" />
                                            </div>
                                            <div class="form-group">
                                                <label for="RoleNamePasEdit">Chức vụ</label>
                                                <input type="text" class="form-control" id="RoleNamePasEdit" />
                                            </div>*@
                                        <div class="form-group" style="margin-left:20px">
                                            <label for="P">Bạn có muốn đặt lại mật khẩu?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnUpdatePassword" onclick="UpdatePassword();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Status Account Edit -->
                        <div class="modal fade" id="myModalStatusAccountEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Khóa tài khoản</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="AccountIDStatusEdit" placeholder="Id" disabled />
                                        </div>
                                        @*<div class="form-group">
                                                <label for="AccountName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="AccountNameStatusEdit" placeholder="Tên tài khoản" />
                                            </div>
                                            <div class="form-group">
                                                <label for="PasswordEdit">Mật khẩu</label>
                                                <input type="text" class="form-control" id="PasswordStatusEdit" placeholder="Mật khẩu" />
                                            </div>
                                            <div class="form-group">
                                                <label for="StatusOfWork">Trạng thái</label>
                                                <input type="text" class="form-control" id="StatusAccountStatusEdit" />
                                            </div>
                                            <div class="form-group">
                                                <label for="RoleNameStatusEdit">Chức vụ</label>
                                                <input type="text" class="form-control" id="RoleNameStatusEdit" />
                                            </div>*@
                                        <div class="form-group" style="margin-left:20px">
                                            <label for="Status">Bạn có muốn khóa tài khoản không?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnUpdateStatus" onclick="UpdateStatus();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->