
@{
    ViewBag.Title = "IncomeStatistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thống kê doanh thu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thống kê mật độ xe</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div>
                                <strong style="font-size:x-large">Bãi đỗ</strong>
                                <select class="form-control w-50" onchange="loadChart()" id="cbNameParkingPlace">
                                </select>
                            </div><br />
                            <div>
                                <strong style="font-size:x-large">Bãi đỗ</strong>
                                <select class="form-control w-50" id="cbTypeOfTicket">
                                    <option value="0">Vé tháng</option>
                                    <option value="1">Vé ngày</option>
                                </select>
                            </div><br />
                            @*<div class="dropdown">
                                    <strong style="font-size:x-large">Loại vé     </strong>
                                    <button class="btn btn-primary dropdown-toggle" style="margin-top:-10px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Vé ngày
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Vé ngày</a>
                                        <a class="dropdown-item" href="#">Vé tháng</a>
                                        <a class="dropdown-item" href="#">Vé giờ</a>
                                    </div>
                                </div><br />*@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="ChartIncome" style="min-width:310px; height:400px;margin:0 auto"></div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->