@model IEnumerable<SmartParkingApplication.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lí nhân viên</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" onclick="location.href='@Url.Action("Create", "ManageUser")';return false;" class="btn btn-success">Thêm nhân viên</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="location.href='@Url.Action("WorkingCalendar", "ManageUser")';return false;" class="btn btn-success">Lịch làm việc</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-success">Xuất danh sách nhân viên</button>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline active-purple-3 active-purple-4">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Ngày Sinh</th>
                                        <th>Số điện thoại</th>
                                        <th>Chức vụ</th>
                                        <th>Bãi đỗ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Ngày Sinh</th>
                                        <th>Số điện thoại</th>
                                        <th>Chức vụ</th>
                                        <th>Bãi đỗ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <!-- The Modal Detail-->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row">
                                            <div class="form-group col-sm-6">
                                                <label for="Id">ID</label>
                                                <input type="text" class="form-control" id="Id" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="UserName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="UserName" placeholder="Tên tài khoản" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullName" placeholder="Tên đầy đủ"/>
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="DateOfBirth">Ngày Sinh</label>
                                                <input type="text" class="form-control" id="DateOfBirth" placeholder="Ngày Sinh" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="Gender">Giới tính</label>
                                                <input type="text" class="form-control" id="Gender" placeholder="Giới tính" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="Address">Địa chỉ</label>
                                                <input type="text" class="form-control" id="Address" placeholder="Địa chỉ" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="PhoneNumber">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneNumber" placeholder="Số điện thoại" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="Email" placeholder="Email" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCard" placeholder="Số CMND" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="RoleName">Chức vụ</label>
                                                <input type="text" class="form-control" id="RoleName" placeholder="Chức vụ" disabled />
                                            </div>
                                            <div class="form-group col-sm-6">
                                                <label for="ParkingPlace">Bãi làm việc</label>
                                                <input type="text" class="form-control" id="ParkingPlace" placeholder="Bãi làm việc" disabled />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                                        <button type="button" class="btn btn-success" id="btnUpdate">Sửa</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal Drop a contract-->
                        <div class="modal fade" id="myModalDropContract" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row">
                                            <p id="pDrop">Bạn có muốn chấm dứt hợp đồng với nhân viên này?</p>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnDrop">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->