@model IEnumerable<SmartParkingApplication.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lí nhân viên</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-md-3">
                                    <button type="button" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();" class="btn btn-success">Thêm nhân viên</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="location.href='@Url.Action("WorkingCalendar", "ManageUser")';return false;" class="btn btn-success">Lịch làm việc</button>
                                </div>
                                <div class="col-md-3">
                                    <button type="button" onclick="location.href='@Url.Action("XuatFileExel", "ManageUser")';return false;" class="btn btn-success">Xuất danh sách nhân viên</button>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline active-purple-3 active-purple-4">
                                        <i class="fas fa-search" aria-hidden="true" id="iconSearch" onclick="return loadData(true)"></i>
                                        <input class="form-control form-control-sm ml-3 w-75" id="txtNameSearch" type="text" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Ngày Sinh</th>
                                        <th>Số điện thoại</th>
                                        <th>Chức vụ</th>
                                        <th>Bãi đỗ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyUser">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Ngày Sinh</th>
                                        <th>Số điện thoại</th>
                                        <th>Chức vụ</th>
                                        <th>Bãi đỗ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div id="pagination" class="pagination" style="margin-top:10px">

                            </div>
                        </div>
                        <!-- /.card-body -->
                        <!-- The Modal -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row">
                                            <div class="form-group col-sm-4">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="Id" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="UserName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="UserName" placeholder="Tên tài khoản"/>
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="PassWord">Mật khẩu</label>
                                                <input type="text" class="form-control" id="PassWord" placeholder="Mật khẩu" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullName" placeholder="Tên đầy đủ" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="DateOfBirth">Ngày Sinh</label>
                                                <input type="date" class="form-control" id="DateOfBirth" placeholder="Ngày Sinh" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Gender">Giới tính</label>
                                                <input type="text" class="form-control" id="Gender" placeholder="Giới tính" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Address">Địa chỉ</label>
                                                <input type="text" class="form-control" id="Address" placeholder="Địa chỉ" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="PhoneNumber">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneNumber" placeholder="Số điện thoại" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="Email" placeholder="Email" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCard" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ContractSigningDate">Ngày ký HĐ</label>
                                                <input type="text" class="form-control" id="ContractSigningDate" placeholder="Ngày ký HĐ" value="" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ContractExpirationDate">Ngày hết HĐ</label>
                                                <input type="date" class="form-control" id="ContractExpirationDate" placeholder="Ngày hết HĐ" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="RoleName">Chức vụ</label>
                                                <input type="text" class="form-control" id="RoleName" placeholder="Chức vụ" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ParkingPlace">Bãi làm việc</label>
                                                <input type="text" class="form-control" id="ParkingPlace" placeholder="Bãi làm việc" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Thêm</button>
                                        <button type="button" class="btn btn-success" id="btnUpdate" onclick="Update();">Sửa</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                         @*The Modal Detail*@ 
                        <div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="row">
                                            <div class="form-group col-sm-4">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="IdD" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="UserName">Tên tài khoản</label>
                                                <input type="text" class="form-control" id="UserNameD" placeholder="Tên tài khoản" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullNameD" placeholder="Tên đầy đủ" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="DateOfBirth">Ngày Sinh</label>
                                                <input type="text" class="form-control" id="DateOfBirthD" placeholder="Ngày Sinh" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Gender">Giới tính</label>
                                                <input type="text" class="form-control" id="GenderD" placeholder="Giới tính" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Address">Địa chỉ</label>
                                                <input type="text" class="form-control" id="AddressD" placeholder="Địa chỉ" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="PhoneNumber">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneNumberD" placeholder="Số điện thoại" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailD" placeholder="Email" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardD" placeholder="Số CMND" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ContractSigningDate">Ngày ký HĐ</label>
                                                <input type="text" class="form-control" id="ContractSigningDateD" placeholder="Ngày ký HĐ" value="" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ContractExpirationDate">Ngày hết HĐ</label>
                                                <input type="text" class="form-control" id="ContractExpirationDateD" placeholder="Ngày hết HĐ" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="RoleName">Chức vụ</label>
                                                <input type="text" class="form-control" id="RoleNameD" placeholder="Chức vụ" disabled />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ParkingPlace">Bãi làm việc</label>
                                                <input type="text" class="form-control" id="ParkingPlaceD" placeholder="Bãi làm việc" disabled />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->