
@{
    ViewBag.Title = "WorkingCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lịch làm việc</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ManageUser")">Quản lí nhân viên</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lịch làm việc</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-success" id="btnCreateWC" data-toggle="modal" data-target="#myModalCreateWorkingCalendar" onclick="clearBox(1);ComboboxUserName(1)">Tạo lịch làm việc</button>
                                </div>
                                @*<div class="col-sm-4">
                                    <button class="btn btn-success" id="btnEditWC" data-toggle="modal" data-target="#myModalEditWorkingCalendar" onclick="clearBox(2);ComboboxUserName(2)">Sửa lịch làm việc</button>
                                </div>*@
                                @*<div class="col-sm-2">
                    <button class="btn btn-success" id="btnExportCalendar" onclick="location.href='@Url.Action("ExportWorkingCalendar", "ManageUser")';return false;">Xuất lịch làm việc</button>
                </div>
                <div class="col-sm-2">
                    <select class="form-control" id="cbExportCalendar">
                        <option>Tuần này</option>
                        <option>Tháng này</option>
                    </select>
                </div>*@
                                <br /><br /><br />
                                <div class="col-md-3">
                                    <select class="form-control" onchange="LoadDataCalendar()" id="cbparkingPlaceWorkingCalendar">
                                    </select>
                                </div>
                            </div><br />
                            <div id="calendarWork">
                            </div>
                            @*<button style="width:150px;margin-top:10px" type="button" onclick="location.href='@Url.Action("Editworkingcalendar", "ManageUser")';return false;" class="btn btn-success float-right">Sửa lịch làm việc</button>*@
                        </div>

                        <!-- The Modal Create Working Calendar-->
                        <div class="modal fade" id="myModalCreateWorkingCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormAddWC">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Tạo lịch làm việc</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="cbparkingPlaceEmp">Bãi làm việc</label>
                                                <select class="form-control" id="cbparkingPlaceEmp" onchange="ComboboxUserName(1)">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="cbUserName">Tên tài khoản</label><br />
                                                <select class="form-control" id="cbUserNameEmp" name="cbUserNameEmp" onchange="getNameStaff(1)" style="width:516px">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullNameEmp" placeholder="Tên đầy đủ" disabled />
                                            </div>
                                            <div class="form-group">
                                                <input type="checkbox" id="checkboxDate" onclick="checkedDate(1)" />
                                                <label for="checkboxDate"> Chọn nhiều ngày</label>
                                            </div>
                                            <div class="form-group" id="dvDateApply">
                                                <label for="DateApply">Thời gian</label>
                                                <input type="date" class="form-control" id="DateApply" name="DateApply" placeholder="Thời gian" />
                                            </div>
                                            <div class="form-group" id="dvDateStart">
                                                <label for="DateStart">Thời gian bắt đầu</label>
                                                <input type="date" class="form-control" id="DateStart" name="DateStart" placeholder="Thời gian bắt đầu" />
                                            </div>
                                            <div class="form-group" id="dvDateEnd">
                                                <label for="DateEnd">Thời gian kết thúc</label>
                                                <input type="date" class="form-control" id="DateEnd" name="DateEnd" placeholder="Thời gian kết thúc" />
                                            </div>
                                            <div class="form-group">
                                                <label for="cbWorkShiftEmp">Ca làm việc</label>
                                                <select class="form-control" id="cbWorkShiftEmp">
                                                    <option value="1">Ca 1 (6h - 14h)</option>
                                                    <option value="2">Ca 2 (14h - 22h)</option>
                                                    <option value="3">Ca 3 (22h - 6h)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnCreateWC" onclick="return CreateWorkingCalendar();">Tạo</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Edit Working Calendar-->
                        <div class="modal fade" id="myModalEditWorkingCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormEditWC">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Sửa lịch làm việc</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="FullName">ID</label>
                                                <input type="text" class="form-control" id="IdEditWorkingCalendarD" placeholder="ID" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="cbUserName">Tên tài khoản</label><br />
                                                <select class="form-control" id="cbUserNameEmpEdit" name="cbUserNameEmpEdit" onchange="getNameStaff(2)" style="width:516px">
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="FullName">Tên đầy đủ</label>
                                                <input type="text" class="form-control" id="FullNameEmpEdit" placeholder="Tên đầy đủ" disabled />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnUpdateWC" onclick="return EditWorkingCalendar();">Sửa</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>