
@{
    ViewBag.Title = "WorkingCalendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lịch làm việc</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ManageUser")">Quản lí nhân viên</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Lịch làm việc</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <button class="btn btn-success" id="btnCreateWC" data-toggle="modal" data-target="#myModalCreateWorkingCalendar">Tạo lịch làm việc</button>
                                </div>
                                <div class="col-sm-4">
                                    <button class="btn btn-success" id="btnEditWC" data-toggle="modal" data-target="#myModalEditWorkingCalendar">Sửa lịch làm việc</button>
                                </div>
                            </div>
                            <div id="calendarWork">
                            </div>
                            @*<button style="width:150px;margin-top:10px" type="button" onclick="location.href='@Url.Action("Editworkingcalendar", "ManageUser")';return false;" class="btn btn-success float-right">Sửa lịch làm việc</button>*@
                        </div>

                        <!-- The Modal Create Working Calendar-->
                        <div class="modal fade" id="myModalCreateWorkingCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Tạo lịch làm việc</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="cbparkingPlaceEmp">Bãi làm việc</label>
                                            <select class="form-control" id="cbparkingPlaceEmp">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cbUserName">Tên tài khoản</label><br />
                                            <select class="form-control" id="cbUserNameEmp" onchange="getNameStaff(1)" style="width:516px">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="FullName">Tên đầy đủ</label>
                                            <input type="text" class="form-control" id="FullNameEmp" placeholder="Tên đầy đủ" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="DateStart">Thời gian bắt đầu</label>
                                            <input type="text" class="form-control" id="DateStart" placeholder="Thời gian bắt đầu" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="DateEnd">Thời gian kết thúc</label>
                                            <input type="date" class="form-control" id="DateEnd" placeholder="Thời gian kết thúc" />
                                        </div>                                     
                                        <div class="form-group">
                                            <label for="cbWorkShiftEmp">Ca làm việc</label>
                                            <select class="form-control w-75" id="cbWorkShiftEmp">
                                                <option value="1">Ca 1 (6h - 14h)</option>
                                                <option value="2">Ca 2 (14h - 22h)</option>
                                                <option value="3">Ca 3 (22h - 6h)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnCreateWC" onclick="return CreateWorkingCalendar();">Tạo</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return CloseCreateWC()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Edit Working Calendar-->
                        <div class="modal fade" id="myModalEditWorkingCalendar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Sửa lịch làm việc</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="cbparkingPlaceEmp">Bãi làm việc</label>
                                            <select class="form-control" id="cbparkingPlaceEmpEdit">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="cbUserName">Tên tài khoản</label><br />
                                            <select class="form-control" id="cbUserNameEmpEdit" onchange="getNameStaff(2)" style="width:516px">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="FullName">Tên đầy đủ</label>
                                            <input type="text" class="form-control" id="FullNameEmpEdit" placeholder="Tên đầy đủ" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="DateStart">Thời gian bắt đầu</label>
                                            <input type="text" class="form-control" id="DateStartEdit" placeholder="Thời gian bắt đầu" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="DateEnd">Thời gian kết thúc</label>
                                            <input type="date" class="form-control" id="DateEndEdit" placeholder="Thời gian kết thúc" />
                                        </div>
                                        <div class="form-group">
                                            <label for="cbWorkShiftEmpEdit">Ca làm việc</label>
                                            <select class="form-control w-75" id="cbWorkShiftEmpEdit">
                                                <option value="1">Ca 1 (6h - 14h)</option>
                                                <option value="2">Ca 2 (14h - 22h)</option>
                                                <option value="3">Ca 3 (22h - 6h)</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnUpdateWC" onclick="return UpdateWorkingCalendar();">Sửa</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return CloseEditWC()">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>