
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    // clear textbox
    function clearTextBoxCard() {
        var date = loadDateNow();
        $('#Id').val("");
        $('#CardNumber').val("");
        $('#Date').val("" + date);
        $('#Status').val("");
    }

    function CheckChange() {
        checkExistCard = false;
        var res = validateAddCard();
        if (res == false) {
            return false;
        } else {
            checkExistCard = true;
            if ($('#CardNumber').val().length == 10) {
                var data = $('#CardNumber').val().substring(0, 10);
                AddCard(data);
                if (checkExistCard == false) {
                    clearTextBoxCard();
                }
            } else {
                validateAddCard();
            }
        }
    }

    var checkExistCard;
    function AddCard(number) {
        var empCardObj = {
            CardNumber: number,
            Date: $('#Date').val(),
            Status: 0,
        };
        $.ajax({
            url: "../ManageCard/CheckCardToAdd",
            data: JSON.stringify(empCardObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "AddFalse") {
                    alert("Thêm thẻ không thành công!");
                } else {
                    if (result == true) {
                        validateAddCard();
                        checkExistCard = false;
                        return false;
                    } else {
                        checkExistCard = true;
                        $('#tbCard').DataTable().clear().destroy();
                        loadDataCard();
                        $('#CardNumber').val("");
                        $('#myModalCard').modal('show');
                    }
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    var checkExistCardUpdate;
    //update card
    function UpdateCard() {
        var res = validateUpdateCard();
        if (res == false) {
            return false;
        }
        checkExistCardUpdate = true;
        var empCardObj = {
            CardID: $('#IdCardEdit').val(),
            CardNumber: $('#CardNumberEdit').val(),
            Date: moment($('#DateCardEdit').val(), 'DD/MM/YYYY').format('MM/DD/YYYY'),
            Status: $('#StatusCard').val(),
        };
        $.ajax({
            url: "../ManageCard/CheckCardToUpdate",
            data: JSON.stringify(empCardObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "UpdateFalse") {
                    alert("Cập nhật thẻ không thành công!");
                } else {
                    if (result == true) {
                        validateUpdateCard();
                        checkExistCardUpdate = false;
                        return false;
                    } else {
                        checkExistCardUpdate = false;
                        $('#tbCard').DataTable().clear().destroy();
                        loadDataCard();
                        $('#myModalUpdate').modal('hide');
                    }
                }

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //Unlock card
    function UnlockCard() {
        var empCardObj = {
            CardID: $('#IdCardUnLock').val(),
            CardNumber: $('#CardNumberUnLock').val(),
            Date: moment($('#DateCardUnLock').val(), 'DD/MM/YYYY').format('MM/DD/YYYY'),
            Status: 0,
        };
        $.ajax({
            url: "../ManageCard/UpdateCard",
            data: JSON.stringify(empCardObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "UpdateFalse") {
                    alert("Mở khóa thẻ không thành công!");
                } else {
                    $('#tbCard').DataTable().clear().destroy();
                    loadDataCard();
                    $('#myModalUnLock').modal('hide');
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //lock card
    function LockCard() {
        var empCardObj = {
            CardID: $('#IdCardLock').val(),
            CardNumber: $('#CardNumberLock').val(),
            Date: moment($('#DateCardLock').val(), 'DD/MM/YYYY').format('MM/DD/YYYY'),
            Status: 3,
        };
        $.ajax({
            url: "../ManageCard/UpdateCard",
            data: JSON.stringify(empCardObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "UpdateFalse") {
                    alert("Khóa thẻ không thành công!");
                } else {
                    $('#tbCard').DataTable().clear().destroy();
                    loadDataCard();
                    $('#myModalLock').modal('hide');
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    //update status cardBreak
    function ReportCardBreak() {
        var empCardObj = {
            CardID: $('#IdCardBreak').val(),
            CardNumber: $('#CardNumberBreak').val(),
            Date: moment($('#DateCardBreak').val(), 'DD/MM/YYYY').format('MM/DD/YYYY'),
            Status: 2,
        };
        $.ajax({
            url: "../ManageCard/UpdateCard",
            data: JSON.stringify(empCardObj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                if (result == "UpdateFalse") {
                    alert("Báo hỏng thẻ không thành công!");
                } else {
                    $('#tbCard').DataTable().clear().destroy();
                    loadDataCard();
                    $('#myModalCardBreak').modal('hide');
                }
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
</script>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý thẻ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý thẻ</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <div class="row invoice-info">
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner" id="totalCard">
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <button type="button" data-toggle="modal" data-target="#myModalCard" onclick="clearTextBoxCard();" class="btn btn-success">Thêm thẻ</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbCard" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Số thẻ</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyCard"></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Số thẻ</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <!-- /.card-body -->
                        </div>
                        <!-- The Modal create new card -->
                        <div class="modal fade" id="myModalCard" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormAddCard">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Thêm thẻ </h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="CardID" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CardNumber">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardNumber" name="CardNumber" placeholder="Số thẻ" oninput="return CheckChange()" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Date">Ngày nhập</label>
                                                <input type="text" class="form-control" id="Date" placeholder="Ngày nhập" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="Status">Trạng thái thẻ</label>
                                                <input type="text" class="form-control" id="Status" placeholder="Chưa sử dụng" disabled />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal edit card -->
                        <div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <form id="FormEditCard">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Thông tin thẻ</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="IdCardEdit" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CardNumber">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardNumberEdit" name="CardNumberEdit" placeholder="Số thẻ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Date">Ngày nhập</label>
                                                <input type="text" class="form-control" id="DateCardEdit" placeholder="Ngày nhập" disabled />
                                            </div>
                                            <div class="form-group" hidden>
                                                <label for="Status">Status</label>
                                                <input type="text" class="form-control" id="StatusCard" placeholder="Status" disabled />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" id="btnUpdateCard" onclick="return UpdateCard();">Sửa</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal UnLock card -->
                        <div class="modal fade" id="myModalUnLock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin thẻ</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group" hidden>
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="IdCardUnLock" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group" hidden>
                                            <label for="CardNumber">Số thẻ</label>
                                            <input type="text" class="form-control" id="CardNumberUnLock" placeholder="Số thẻ" />
                                        </div>
                                        <div class="form-group" hidden>
                                            <label for="Date">Ngày nhập</label>
                                            <input type="text" class="form-control" id="DateCardUnLock" placeholder="Ngày nhập" />
                                        </div>
                                        <div class="form-group" hidden>
                                            <label for="Status">trạng thái thẻ</label>
                                            <input type="text" class="form-control" id="StatusCardUnLock" placeholder="trạng thái thẻ" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Bạn có muốn mở khóa thẻ không?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" onclick="return UnlockCard();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal Lock card -->
                        <div class="modal fade" id="myModalLock" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thông tin thẻ</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div hidden>
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="IdCardLock" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CardNumber">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardNumberLock" placeholder="Số thẻ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Date">Ngày nhập</label>
                                                <input type="text" class="form-control" id="DateCardLock" placeholder="Ngày nhập" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Status">trạng thái thẻ</label>
                                                <input type="text" class="form-control" id="StatusCardLock" placeholder="trạng thái thẻ" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Bạn có muốn khóa thẻ không?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnLockCard" onclick="return LockCard();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- The Modal break card -->
                        <div class="modal fade" id="myModalCardBreak" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thẻ hỏng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div hidden>
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="IdCardBreak" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CardNumber">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardNumberBreak" placeholder="Số thẻ" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Date">Ngày nhập</label>
                                                <input type="text" class="form-control" id="DateCardBreak" placeholder="Ngày nhập" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Status">trạng thái thẻ</label>
                                                <input type="text" class="form-control" id="StatusCardBreak" placeholder="trạng thái thẻ" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Thẻ này đã bị hỏng?</label>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-success" id="btnReportCardBreak" onclick="return ReportCardBreak();">Đồng ý</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->