
@{
    ViewBag.Title = "HistoryParking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lịch sử bãi đỗ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Lịch sử bãi đỗ</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <strong style="font-size:x-large">Bãi đỗ:&nbsp;</strong>
                            <div class="w-25">
                                <select class="form-control" id="cbNameParkingPlaceHistory">
                                </select>
                            </div><br />
                                  <div class="row" style="margin-bottom:10px">
                                      <div class="col-sm-2" style="margin-top:5px">
                                          <a>Chọn ngày</a>
                                          <input type="checkbox" id="checkboxDateHis" onclick="checkBoxChoiceDateHis()"/>
                                      </div>
                                      <div class="col-sm-3" style="display: flex" id="dvFromHis">
                                          <a style="margin-top: 5px;">Từ: </a>&nbsp;
                                          <input class="form-control w-100" type="date" id="TimeFromHis" name="TimeFromHis" @*onchange="validateHistoryPP()"*@ />
                                      </div>
                                      <div class="col-sm-3" style="display: flex" id="dvToHis">
                                          <a style="margin-top: 5px;">Đến: </a>&nbsp;
                                          <input class="form-control w-100" type="date" id="TimeToHis" name="TimeToHis" @*onchange="validateHistoryPP()"*@ />
                                      </div>
                                      <div class="col-sm-2">
                                          <input type="text" class="form-control w-100" id="txtSearchHistoryPP" name="txtSearchHistoryPP" placeholder="Nhập biển số" @*oninput="validateHistoryPP()"*@ />
                                      </div>
                                      @*<form id="FormHistory" style="display: contents; justify-content: flex-end;">
                                      </form>*@
                                      <div class="col-sm-1">
                                          <button class="btn btn-success" onclick="loadDataHistoryParking();" id="btnSearchHistoryPPa">Search</button>
                                      </div>
                                  </div><br />
                            <!-- table info price day and block -->
                            <div class="row invoice-info">
                                <table id="tbHistory" class="table table-avatar">
                                    <thead>
                                        <tr class="bg-green">
                                            <th>Biển số xe</th>
                                            <th>Thời gian vào</th>
                                            <th>Thời gian ra</th>
                                            <th>Số thẻ</th>
                                            <th>Loại vé</th>
                                            <th>Phí gửi(vnđ)</th>
                                            <th>NV cổng vào</th>
                                            <th>NV cổng ra</th>
                                            @*<th>Thao tác</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyHis">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
