
@{
    ViewBag.Title = "ListParkingPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>DataTables</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Danh sách bãi đỗ</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <div class="row invoice-info">
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner" id="totalParkingPlace">
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>

                            <div class="row">
                                <div class="col-md-9">
                                    <button type="button" data-toggle="modal" data-target="#myModalPP" onclick="clearTextBoxPP();" class="btn btn-success">Thêm Bãi Đỗ</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbPPlace" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên bãi đỗ</th>
                                        <th>Vị trí</th>
                                        <th>Sức chứa ô tô</th>
                                        <th>Sức chứa xe máy</th>
                                        <th>Chỗ trống ô tô</th>
                                        <th>Chỗ trống xe máy </th>
                                        <th>Trạng thái bãi đỗ</th>
                                        <th>Thao tác </th>
                                    </tr>
                                </thead>
                                <tbody id="tbodypp">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên bãi đỗ</th>
                                        <th>Vị trí</th>
                                        <th>Sức chứa ô tô</th>
                                        <th>Sức chứa xe máy</th>
                                        <th>Chỗ trống ô tô</th>
                                        <th>Chỗ trống xe máy </th>
                                        <th>Trạng thái bãi đỗ</th>
                                        <th>Thao tác </th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!-- /.card-body -->
                        <!-- The Modal create new ParkingPlace -->
                        <div class="modal fade" id="myModalPP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Thêm bãi đỗ </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">ParkingPlaceID</label>
                                            <input type="text" class="form-control" id="ParkingPlaceID" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="NameOfParking">Tên bãi đỗ</label>
                                            <input type="text" class="form-control" id="NameOfParking" placeholder="Tên bãi đỗ" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Location">Vị trí</label>
                                            <input type="text" class="form-control" id="Location" placeholder="Vị trí" />
                                        </div>
                                        <div class="form-group">
                                            <label for="NumberOfCar">Sức chứa ô tô</label>
                                            <input type="text" class="form-control" id="NumberOfCar" placeholder="Sức chứa ô tô" />
                                        </div>
                                        <div class="form-group">
                                            <label for="NumberOfMotoBike">Sức chứa xe máy</label>
                                            <input type="text" class="form-control" id="NumberOfMotoBike" placeholder="Sức chứa xe máy" />
                                        </div>
                                        <div class="form-group">
                                            <label for="StatusOfParkingPlace">Trạng thái bãi đỗ</label>
                                            <input type="text" class="form-control" id="StatusOfParkingPlace" placeholder="Trạng thái bãi đỗ" />
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAddPP" onclick="return AddPP();">Thêm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modal Create PP -->
                        <!--Modal Detail-->
                        <div class="modal fade" id="myModalDetailPP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Sửa bãi đỗ</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="ParkingPlaceIDd" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CardNumber">Tên bãi đỗ</label>
                                            <input type="text" class="form-control" id="NameOfParkingd" placeholder="Tên bãi đỗ" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Date">Vị trí</label>
                                            <input type="text" class="form-control" id="Locationd" placeholder="Vị trí" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Sức chứa ô tô</label>
                                            <input type="text" class="form-control" id="NumberOfCardd" placeholder="Sức chứa ô tô" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Sức chứa xe máy</label>
                                            <input type="text" class="form-control" id="NumberOfMotoBiked" placeholder="Sức chứa xe máy" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Chỗ trống ô tô</label>
                                            <input type="text" class="form-control" id="NumberCarBlankd" placeholder="Chỗ trống ô tô" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Chỗ trống xe máy</label>
                                            <input type="text" class="form-control" id="NumberMotoBikeBlankd" placeholder="Chỗ trống xe máy" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Trạng thái bãi đỗ</label>
                                            <input type="text" class="form-control" id="StatusOfParkingPlaced" placeholder="Trạng thái bãi đỗ" disabled/>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary" id="btnAddCard" onclick="return AddCard();">Thêm</button>*@
                                        
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Modal Detail-->
                        <!-- Modal Update PP -->
                        <div class="modal fade" id="myModalUpdatePP" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Sửa bãi đỗ</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="ParkingPlaceIDEdit" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CardNumber">Tên bãi đỗ</label>
                                            <input type="text" class="form-control" id="NameOfParkingEdit" placeholder="Tên bãi đỗ" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Date">Vị trí</label>
                                            <input type="text" class="form-control" id="LocationEdit" placeholder="Vị trí" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Sức chứa ô tô</label>
                                            <input type="text" class="form-control" id="NumberOfCarEdit" placeholder="Sức chứa ô tô" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Sức chứa xe máy</label>
                                            <input type="text" class="form-control" id="NumberOfMotoBikeEdit" placeholder="Sức chứa xe máy" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Chỗ trống ô tô</label>
                                            <input type="text" class="form-control" id="NumberCarBlankEdit" placeholder="Chỗ trống ô tô" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Chỗ trống xe máy</label>
                                            <input type="text" class="form-control" id="NumberMotoBikeBlankEdit" placeholder="Chỗ trống xe máy" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Status">Trạng thái bãi đỗ</label>
                                            <input type="text" class="form-control" id="StatusOfParkingPlaceEdit" placeholder="Trạng thái bãi đỗ" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="button" class="btn btn-primary" id="btnAddCard" onclick="return AddCard();">Thêm</button>*@
                                        <button type="button" class="btn btn-success" id="btnUpdatePP" onclick="return UpdatePP();">Sửa</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Modedal Update pp -->

                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->