
@{
    ViewBag.Title = "ManageStatusParkingPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    function loadTableList() {
        var ParkingPlaceID = $('#cbxListParking').val();
        $.ajax({
            type: 'GET',
            data: { ParkingPlaceID: ParkingPlaceID },
            url: '@Url.Action("loadtTableMotor", "ManagePPlace")',
            success: function (result) {
                var html = "";
                for (var i = 0; i < result.length; i++) {
                    html += '<tr><td> Xe Máy </td>';

                    html += '<td>' + result[i].ToTalDaGuiXemay + '</td>';
                    html += '<td>' + result[i].NumberMotoBikeBlank + '</td>';

                    html += '</tr>';
                    html += '<tr>';
                    html += '<td> Ô tô </td>';

                    html += '<td>' + result[i].ToTalDaGuiOto + '</td>';
                    html += '<td>' + result[i].NumberCarlank + '</td>';

                    html += '</tr>';
                }
                $('#tableList').html(html);
            },
            error: function (errormessage) {
                if (timeFrom == null && timeTo == null) {
                } else {
                    alert(errormessage.responseText);
                }
            }
        });
    }
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tình trạng xe trong bãi đỗ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tình trạng bãi đỗ xe</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form method="post">
                                <table>
                                    <tr>
                                        <td>Bãi Đỗ</td>
                                        <td>
                                            <select class="form-control" id="cbxListParking" onchange="runInterval()">
                                                <option value="-1">Chọn bãi đỗ</option>
                                                @foreach (var list in ViewBag.listParkingPlace)
                                                {
                                                    if (list.StatusOfParkingPlace == 1)
                                                    {
                                                        <option value="@list.ParkingPlaceID"> @list.NameOfParking </option>
                                                    }

                                                }
                                            </select>
                                        </td>
                                    </tr>

                                </table>
                            </form>

                            <div class="row invoice-info">
                                <table class="table table-avatar" >
                                    <thead>
                                        <tr class="bg-green">

                                            <th>Loại Xe</th>
                                            <th>Đã gửi</th>
                                            <th>Chỗ trống</th>

                                        </tr>
                                    </thead>
                                    <tbody  id="tableList">
                                    </tbody>



                                </table>
                            </div>
                            <br />
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="tbStatusPP" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Biển số</th>
                                        <th>Thời gian vào</th>

                                        <th>Hình thức vé</th>
                                        <th>Số thẻ</th>
                                        <th>Loại xe</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyStatusPP">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Biển số</th>
                                        <th>Thời gian vào</th>

                                        <th>Hình thức vé</th>
                                        <th>Số thẻ</th>
                                        <th>Loại xe</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>

                            <div class="modal fade" id="myModalTranDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width:110%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row">
                                                <div class="form-group col-sm-4">
                                                    <label for="Id">Id</label>
                                                    <input type="text" class="form-control" id="Idd" placeholder="Id" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="UserName">Biển số</label>
                                                    <input type="text" class="form-control" id="LicensePlatesd" placeholder="Biển số" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="PassWork">Thời gian vào</label>
                                                    <input type="text" class="form-control" id="TimeInd" placeholder="Mật khẩu" disabled />
                                                </div>

                                                <div class="form-group col-sm-4">
                                                    <label for="Loại vé">Loại vé</label>
                                                    <input type="text" class="form-control" id="TypeOfTicketd" placeholder="Loại vé" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="Gender">Số thẻ</label>
                                                    <input type="text" class="form-control" id="CardNumber" placeholder="Số thẻ" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="Gender">Loại xe</label>
                                                    <input type="text" class="form-control" id="TypeOfVe" placeholder="Loại xe" disabled />
                                                </div>

                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->