
@{
    ViewBag.Title = "ManageStatusParkingPlace";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<script src="~/Scripts/jquery-3.4.1.min.js" type=""></script>
<script>
    $(document).ready(function () {

        $('#cbxListParking').on('change', function () {
            var ParkingPlaceID = $('#cbxListParking option: Select').val();
            $.ajax({
                type: 'GET',
                data: { parkingId: parkingId },
                url: ' @Url.Action("loadtTable","ManagePPlace")',
                success: function (result) {

                }


            }
            );
        });
    });
</script>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tình trạng xe trong bãi đỗ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Tình trạng bãi đỗ xe</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form method="post">
                                <table>
                                    <tr>
                                        <td>Bãi Đỗ</td>
                                        <td>
                                            <select id="cbxListParking">
                                                @foreach (var list in ViewBag.listParkingPlace)
                                                {
                                                    <option value="@list.ParkingPlaceID"> @list.NameOfParking </option>
                                                }

                                            </select>
                                        </td>
                                    </tr>
                                </table>
                            </form>

                            <div class="row invoice-info">
                                <table class="table table-avatar">
                                    <thead>
                                        <tr class="bg-green">
                                            <th></th>
                                            <th>Đã gửi</th>
                                            <th>Chỗ trống</th>
                                            <th>Số vé tháng</th>
                                            <th>Số vé ngày</th>
                                            <th>Biểu phí(theo giờ)</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyInfoStatusPP">
                                        <tr>
                                            <td style="font-weight:bolder">Xe máy</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123 VNĐ</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:bolder">Ô tô</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123</td>
                                            <td>123 VNĐ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div class="row">
                                <div class="col-md-9">
                                    <form autocomplete="off">
                                        <div class="flex-row d-flex justify-content-center">
                                            <a>Từ ngày: </a><input style="margin-left:10px;margin-top:-5px" type="datetime-local" value="2020-12-01T07:30" id="txtTimeFromSPP" />
                                            <a style="margin-left:20px">Đến ngày: </a><input style="margin-left:10px;margin-top:-5px" type="datetime-local" value="2020-12-31T07:30" id="txtTimeToSPP" />
                                        </div>
                                    </form>
                                </div>
                                <div class="col-md-3">
                                    <form class="form-inline active-purple-3 active-purple-4">
                                        <i class="fas fa-search" aria-hidden="true" onclick="loadDataStatusParking(true)"></i>
                                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" id="txtNameSearchSPP">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Biển số</th>
                                        <th>Thời gian vào</th>
                                        <th>Thời gian ra</th>
                                        <th>Hình thức vé</th>
                                        <th>Số thẻ</th>
                                        <th>Loại xe</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyStatusPP">
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Biển số</th>
                                        <th>Thời gian vào</th>
                                        <th>Thời gian ra</th>
                                        <th>Hình thức vé</th>
                                        <th>Số thẻ</th>
                                        <th>Loại xe</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div id="paginationSPP" class="pagination" style="margin-top:10px">
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->