@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thiết lập giá vé</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thiết lập giá vé</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <button type="button" data-toggle="modal" data-target="#myModalSettingPrice" class="btn btn-success">Thiết lập giá vé</button>
                        </div>
                        <!-- /.Ticket-header -->
                        <div class="card-body">
                            <div>
                                <strong style="font-size:x-large">Bãi đỗ</strong>
                                <select class="form-control w-50" onchange="loadDataPrice()" id="cbNameParkingPlaceD">
                                </select>
                            </div><br />
                            <div class="row invoice-info">
                                <table id="tbPrice" class="table table-avatar">
                                    <thead>
                                        <tr class="bg-green">
                                            <th>Loại xe</th>
                                            <th>Giá vé tháng(vnd)</th>
                                            <th>Giá vé ngày</th>
                                            <th>Giá vé block - đầu(vnd)</th>
                                            <th>Giá vé block - tiếp(vnd)</th>
                                            <th>Ngày áp dụng</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodypr">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.Ticket-body -->
                            <!-- The Modal Setting Price -->
                            <div class="modal fade" id="myModalSettingPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width:110%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Thiết lập giá vé</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Loại vé
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select class="form-control" id="cbTypeOfTicketSP" onchange="reloadModalPR()">
                                                            <option value="0">Vé Ngày</option>
                                                            <option value="1">Vé tháng</option>
                                                            <option value="2">Vé block</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvParkingPlaceSP">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Bãi đỗ
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select class="form-control" onchange="reloadModalPR()" id="cbNameParkingPlaceSP">
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Loại xe
                                                    </div>
                                                    <div class="col-md-7">
                                                        <select class="form-control" id="cbTypeOfvehicleSP" onchange="reloadModalPR()">
                                                            <option value="0">Xe máy</option>
                                                            <option value="1">Ô tô</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvPriceSP">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Giá tiền
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="PriceSP" placeholder="Giá tiền" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvFirstBlock">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Giá tiền block đầu
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="PriceFB" placeholder="Giá tiền" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvNextBlock">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Giá tiền block tiếp theo
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="PriceNB" placeholder="Giá tiền" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvTimeOfBlock">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thời gian 1 block
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" class="form-control" id="TimeOfBlock" placeholder="Thời gian" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group" id="dvTimeOfApply">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                        Thời gian áp dụng
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" class="form-control" id="TimeOfApply" placeholder="Thời gian" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" id="btnSettingPrice" onclick="return UpdateSP();">Thiết lập</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- The Modal Detail InfoPrice -->
                            <div class="modal fade" id="myModalDetailPrice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width:110%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Chi tiết giá vé</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="TypeOfVehiclePrice">Loại xe</label>
                                                <input type="text" class="form-control" id="TypeOfVehicleDetailP" placeholder="Loại xe" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="MonthlyPriceDetail">Giá vé tháng</label>
                                                <input type="text" class="form-control" id="MonthlyPriceDetail" placeholder="Giá vé tháng" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="DailyPriceDetail">Giá vé ngày</label>
                                                <input type="text" class="form-control" id="DailyPriceDetail" placeholder="Giá vé ngày" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="FBlockPriceDetail">Giá vé block đầu</label>
                                                <input type="text" class="form-control" id="FBlockPriceDetail" placeholder="Giá vé block đầu" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="NBlockPriceDetail">Giá vé block tiếp</label>
                                                <input type="text" class="form-control" id="NBlockPriceDetail" placeholder="Giá vé block tiếp" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="TimeOfFirstBlock">Thời gian của block đầu</label>
                                                <input type="text" class="form-control" id="TimeOfFirstBlock" placeholder="Thời gian của block đầu" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="TimeOfNextBlock">Thời gian của block tiếp</label>
                                                <input type="text" class="form-control" id="TimeOfNextBlock" placeholder="Thời gian của block tiếp" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="TimeApply">Thời gian áp dụng</label>
                                                <input type="text" class="form-control" id="TimeApply" placeholder="Thời gian áp dụng" disabled />
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->