
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý vé</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý vé</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">

                            <div class="dropdown">
                                <strong style="font-size:x-large">Bãi đỗ     </strong>
                                <button class="btn btn-primary dropdown-toggle" style="margin-top:-10px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    FPT Place
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="#">FPT Place</a>
                                    <a class="dropdown-item" href="#">Fsoft-1</a>
                                    <a class="dropdown-item" href="#">Fsoft-2</a>
                                </div>
                            </div><br />
                            <div class="row invoice-info">
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-success">
                                        <div class="inner">
                                            <h3>100<sup style="font-size: 20px"></sup></h3>
                                            <p>Tổng số vé</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-warning">
                                        <div class="inner">
                                            <h3>50<sup style="font-size: 20px"></sup></h3>

                                            <p>Số vé tháng</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-danger">
                                        <div class="inner">
                                            <h3>50<sup style="font-size: 20px"></sup></h3>

                                            <p>Số vé ngày</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" data-toggle="modal" data-target="#myModalTicket" onclick="clearTextBoxTicket();" class="btn btn-success">Đăng kí vé tháng</button>
                                </div>
                                @*<div class="col-md-3">
                                    <button type="button" onclick="location.href='@Url.Action("ListExtendTicket", "ManageTicket")';return false;" class="btn btn-success">Gia hạn vé tháng</button>
                                </div>*@
                                <div class="col-md-4">
                                    <button type="button" class="btn btn-success">Xuất báo cáo vé sắp hết hạn</button>
                                </div>
                                <div class="col-md-4">
                                    <form class="form-inline active-purple-3 active-purple-4">
                                        <i class="fas fa-search" aria-hidden="true"></i>
                                        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- /.Ticket-header -->
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Tên xe</th>
                                        <th>Biển số</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyTicket"></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Tên xe</th>
                                        <th>Biển số</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.Ticket-body -->

                        <!-- The Modal create new Monthly Ticket -->
                        <div class="modal fade" id="myModalTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Đăng kí vé tháng </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="Id" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CusName">Tên chủ xe</label>
                                            <input type="text" class="form-control" id="CusName" placeholder="Số thẻ" />
                                        </div>
                                        <div class="form-group">
                                            <label for="IdentityCard">Số CMND</label>
                                            <input type="text" class="form-control" id="IdentityCard" placeholder="Số CMND" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control" id="Email" placeholder="Email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Phone">Số điện thoại</label>
                                            <input type="text" class="form-control" id="Phone" placeholder="Số điện thoai" />
                                        </div>
                                        <div class="form-group">
                                            <label for="TypeOfVehicle">Loại xe</label>
                                            <input type="text" class="form-control" id="TypeOfVehicle" placeholder="Loại xe" />
                                        </div>
                                        <div class="form-group">
                                            <label for="LicensePlates">Biển số xe</label>
                                            <input type="text" class="form-control" id="LicensePlates" placeholder="Biển số xe" />
                                        </div>
                                        <div class="form-group">
                                            <label for="RegisDate">Ngày đăng kí</label>
                                            <input type="text" class="form-control" id="RegisDate" placeholder="Ngày đăng kí" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ExpiryDate">Ngày hết hạn</label>
                                            <input type="text" class="form-control" id="ExpiryDate" placeholder="Ngày hết hạn" />
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAddTicket" onclick="return AddTicket();">thêm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Gia Hạn Vé Tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Ngày đăng ký
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" value="2020-11-20" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Ngày hết hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" value="2020-12-20" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Thời gian gia hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="dropdown" style="width:100%">
                                                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                1 tháng
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="#">1 tháng</a>
                                                                <a class="dropdown-item" href="#">6 tháng</a>
                                                                <a class="dropdown-item" href="#">1 năm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Thành tiền
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" value="500.000 VND" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Gia Hạn</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->