
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý hợp đồng vé tháng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Quản lý hợp đồng vé tháng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row invoice-info">
                                <div class="col-lg-3 col-6">
                                    <!-- small box -->
                                    <div class="small-box bg-warning">
                                        <div class="inner" id="totalTicket">
                                        </div>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" data-toggle="modal" data-target="#myModalTicket" onclick="clearTextBoxTicket();" class="btn btn-success">Đăng kí vé tháng</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" onclick="location.href='@Url.Action("XuatFileExel", "ManageTicket")';return false;" class="btn btn-success">Xuất báo cáo vé sắp hết hạn</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.Ticket-header -->
                        <div class="card-body">
                            <table id="tbTicket" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        @*<th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Loại xe</th>*@
                                        <th>Biển số xe</th>
                                        <th>Ngày đăng kí</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Trạng thái</th>
                                        <th>Số thẻ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="tbody" id="tbodyTicket"></tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        @*<th>Số điện thoại</th>
                                        <th>Email</th>
                                        <th>Loại xe</th>*@
                                        <th>Biển số xe</th>
                                        <th>Ngày đăng kí</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Trạng thái</th>
                                        <th>Số thẻ</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div id="paginationTicket" class="pagination" style="margin-top:10px">
                            </div>
                        </div>
                        <!-- /.Ticket-body -->
                        <!-- The Modal create new Monthly Ticket -->
                        <div class="modal fade" id="myModalTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Đăng kí vé tháng </h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="Id">Id</label>
                                            <input type="text" class="form-control" id="IdTK" placeholder="Id" disabled />
                                        </div>
                                        <div class="form-group">
                                            <label for="CusName">Tên chủ xe</label>
                                            <input type="text" class="form-control" id="CusNameTK" placeholder="Tên chủ xe" />
                                        </div>
                                        <div class="form-group">
                                            <label for="IdentityCard">Số CMND</label>
                                            <input type="text" class="form-control" id="IdentityCardTK" placeholder="Số CMND" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Email">Email</label>
                                            <input type="text" class="form-control" id="EmailTK" placeholder="Email" />
                                        </div>
                                        <div class="form-group">
                                            <label for="Phone">Số điện thoại</label>
                                            <input type="text" class="form-control" id="PhoneTK" placeholder="Số điện thoai" />
                                        </div>
                                        <div class="form-group">
                                            <label for="TypeOfVehicle">Loại xe</label>
                                            <select class="form-control" id="cbTypeOfVehicleTK">
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="LicensePlates">Biển số xe</label>
                                            <input type="text" class="form-control" id="LicensePlatesTK" placeholder="Biển số xe" />
                                        </div>
                                        <div class="form-group">
                                            <label for="RegisDate">Ngày đăng kí</label>
                                            <input type="text" class="form-control" id="RegisDateTK" placeholder="Ngày đăng kí" disabled/>
                                        </div>
                                        <div class="form-group">
                                            <label for="ExpiryDate">Ngày hết hạn</label>
                                            <input type="date" class="form-control" id="ExpiryDateTK" placeholder="Ngày hết hạn" />
                                        </div>
                                        <div class="form-group">
                                            <label for="ParkingPlace">Số thẻ</label>
                                            <select class="form-control" id="cbCardNumberTK">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnAddTicket" onclick="return AddTicket();">thêm</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- The Modal Extend Ticket -->
                        <div class="modal fade" id="myModalExtendTicket" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content" style="width:110%">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="myModalLabel">Gia Hạn Vé Tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div class="modal-body">
                                        <div hidden>
                                            <div class="form-group">
                                                <label for="Id">Id</label>
                                                <input type="text" class="form-control" id="MonthlyTicketETK" placeholder="Id" disabled />
                                            </div>
                                            <div class="form-group">
                                                <label for="CusName">Tên chủ xe</label>
                                                <input type="text" class="form-control" id="CusNameETK" placeholder="Tên chủ xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="IdentityCard">Số CMND</label>
                                                <input type="text" class="form-control" id="IdentityCardETK" placeholder="Số CMND" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Email">Email</label>
                                                <input type="text" class="form-control" id="EmailETK" placeholder="Email" />
                                            </div>
                                            <div class="form-group">
                                                <label for="Phone">Số điện thoại</label>
                                                <input type="text" class="form-control" id="PhoneETK" placeholder="Số điện thoai" />
                                            </div>
                                            <div class="form-group">
                                                <label for="TypeOfVehicle">Loại xe</label>
                                                <input type="text" class="form-control" id="TypeOfVehicleETK" placeholder="Loại xe" />
                                            </div>
                                            <div class="form-group">
                                                <label for="LicensePlates">Biển số xe</label>
                                                <input type="text" class="form-control" id="LicensePlatesETK" placeholder="Biển số xe" />
                                            </div>
                                            <div class="form-group col-sm-4">
                                                <label for="ParkingPlace">Số thẻ</label>
                                                <input type="text" class="form-control" id="CardIDETK" placeholder="Số thẻ" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                    Ngày gia hạn
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="RegisDateETK" placeholder="Ngày gia hạn" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                    Ngày hết hạn
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="ExpiryDateETk" placeholder="Ngày hết hạn" disabled />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                    Thời gian gia hạn
                                                </div>
                                                <div class="col-md-7">
                                                    <select class="form-control" id="cbETK" onchange="reloadModalETK()">
                                                        <option value="1">1 tháng</option>
                                                        <option value="2">6 tháng</option>
                                                        <option value="3">1 năm</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-5" style="padding-left:40px;margin-top:5px">
                                                    Thành tiền
                                                </div>
                                                <div class="col-md-7">
                                                    <input type="text" class="form-control" id="priceETK" placeholder="Thành tiền" value="500.000 VND" disabled />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="btnExtendTK" onclick="return UpdateExtendTK();">Gia Hạn</button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->