
@{
    ViewBag.Title = "ExtendTicket";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách vé tháng</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ManageTicket")">Quản lý vé</a></li>
                        <li class="breadcrumb-item active">Gia hạn vé tháng</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <form class="form-inline active-purple-3 active-purple-4">
                                <i class="fas fa-search" aria-hidden="true"></i>
                                <input class="form-control form-control-sm ml-3 w-25" type="text" placeholder="Search" aria-label="Search">
                            </form>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Tên xe</th>
                                        <th>Loại xe</th>
                                        <th>Biển số</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nguyễn Bá Tú</td>
                                        <td>CBR 150</td>
                                        <td>Motobike</td>
                                        <td>99A96789</td>
                                        <td>20/11/2020</td>
                                        <td>20/12/2020</td>
                                        <td>
                                            <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Gia hạn</button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Tên chủ thẻ</th>
                                        <th>Tên xe</th>
                                        <th>Loại xe</th>
                                        <th>Biển số</th>
                                        <th>Ngày đăng ký</th>
                                        <th>Ngày hết hạn</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <!-- The Modal -->
                        <div class="modal" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Gia Hạn Vé Tháng</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Ngày đăng ký
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" value="2020-11-20" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Ngày hết hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="date" value="2020-12-20" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Thời gian gia hạn
                                                    </div>
                                                    <div class="col-md-7">
                                                        <div class="dropdown" style="width:100%">
                                                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                1 tháng
                                                            </button>
                                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                                <a class="dropdown-item" href="#">1 tháng</a>
                                                                <a class="dropdown-item" href="#">6 tháng</a>
                                                                <a class="dropdown-item" href="#">1 năm</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-5" style="padding-left:40px">
                                                        Thành tiền
                                                    </div>
                                                    <div class="col-md-7">
                                                        <input type="text" value="500.000 VND" disabled />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Gia Hạn</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->