@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Lịch sử bãi đỗ</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Lịch sử bãi đỗ</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <!-- /.HistoryParking-header -->
                        <div class="card-body">
                            <div class="row" style="margin-bottom:20px">
                                <strong style="font-size:x-large">Bãi đỗ:</strong>
                                <div class="col-md-2">
                                    <select class="form-control" onchange="loadDataHistoryParking()" id="cbNameParkingPlaceD">
                                    </select>
                                </div>
                            </div><br />
                            <div class="row">
                                <div class="col-sm-1">
                                    <a>Từ ngày: </a>
                                </div>
                                <div class="col-sm-3">
                                    <input style="margin-top:-5px" class="w-75" type="datetime-local" id="TimeFromHis" @*onchange="loadDataHistoryParking()"*@ />
                                </div>
                                <div class="col-sm-1">
                                    <a>Đến ngày: </a>
                                </div>
                                <div class="col-sm-3">
                                    <input style="margin-top:-5px" class="w-75" type="datetime-local" id="TimeToHis" @*onchange="loadDataHistoryParking()"*@ />
                                </div>
                                <div class="col-sm-2">
                                    <input style="margin-top:-5px" type="text" class="form-control" id="txtSearchHistoryPP" placeholder="Nhập biển số" />
                                </div>
                                <div class="col-sm-2">
                                    <button style="margin-top:-5px" class="btn btn-success" id="btnSearchHistoryPP">Search</button>
                                </div>
                            </div>
                            <!-- table info price day and block -->
                            <div class="row invoice-info">
                                <table id="tbHistory" class="table table-avatar">
                                    <thead>
                                        <tr class="bg-green">
                                            <th>Biển số xe</th>
                                            <th>Thời gian vào</th>
                                            <th>Thời gian ra</th>
                                            <th>Số thẻ</th>
                                            <th>Loại vé</th>
                                            <th>Phí gửi(vnđ)</th>
                                            <th>NV cổng vào</th>
                                            <th>NV cổng ra</th>
                                            @*<th>Thao tác</th>*@
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyHis">
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.HistoryParking-body -->
                            <div class="modal fade" id="myModalHistoryDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content" style="width:110%">
                                        <div class="modal-header">
                                            <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form class="row">
                                                <div class="form-group col-sm-4">
                                                    <label for="LicensePlatesHis">Biển số</label>
                                                    <input type="text" class="form-control" id="LicensePlatesHis" placeholder="Biển số" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="TimeInHis">Thời gian vào</label>
                                                    <input type="text" class="form-control" id="TimeInHis" placeholder="Thời gian vào" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="TimeOutHis">Thời gian ra</label>
                                                    <input type="text" class="form-control" id="TimeOutHis" placeholder="Thời gian ra" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="TypeOfTicketHis">Loại vé</label>
                                                    <input type="text" class="form-control" id="TypeOfTicketHis" placeholder="Loại vé" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="TotalPriceHis">Phí gửi</label>
                                                    <input type="text" class="form-control" id="TotalPriceHis" placeholder="Phí gửi" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="CardNumberHis">Số thẻ</label>
                                                    <input type="text" class="form-control" id="CardNumberHis" placeholder="Số thẻ" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="TypeOfVehicleHis">Loại xe</label>
                                                    <input type="text" class="form-control" id="TypeOfVehicleHis" placeholder="Loại xe" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="StaffIn">Nhân viên cổng vào</label>
                                                    <input type="text" class="form-control" id="StaffInHis" placeholder="Tên nhân viên" disabled />
                                                </div>
                                                <div class="form-group col-sm-4">
                                                    <label for="StaffOut">Nhân viên cổng ra</label>
                                                    <input type="text" class="form-control" id="StaffOutHis" placeholder="Tên nhân viên" disabled />
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->