
@{
    ViewBag.Title = "DensityStatistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thống kê mật độ xe</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thống kê mật độ xe</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div id="KindOfStatistic">
                                <strong style="font-size:x-large">Chọn loại thống kê</strong>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <select class="form-control" id="cbKindOfStatisticDensity" onchange="KindOfStatisticDensity();loadChartCarDensity()">
                                            <option value="0">Tất cả bãi đỗ</option>
                                            <option value="1">Từng bãi đỗ</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="cbChoiceTimeDensity" onchange="loadChartCarDensityAll()">
                                            <option value="0">Trong tháng này</option>
                                            <option value="1">Trong năm này</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="eachParking">
                                <strong style="font-size:x-large">Bãi đỗ</strong>
                                <select class="form-control w-50" onchange="loadChartCarDensity()" id="cbNameParkingPlaceD">
                                </select>
                            </div><br />
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="ChartCarDensity" style="min-width:310px; height:400px;margin:0 auto"></div>
                            <div class="row" id="dvChartCarDensity" hidden>
                                <div class="col-sm-6">
                                    <table id="tbChartCarDensity" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tháng</th>
                                                <th>Số lượt xe máy</th>
                                                <th>Số lượt ô tô</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody" id="tbodyChartCarDensity"></tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tháng</th>
                                                <th>Số lượt xe máy</th>
                                                <th>Số lượt ô tô</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row" id="dvChartCarDensityAll">
                                <div class="col-sm-6">
                                    <table id="tbChartCarDensityAll" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tên bãi đỗ</th>
                                                <th>Số lượt xe máy</th>
                                                <th>Số lượt ô tô</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody" id="tbodyChartCarDensityAll"></tbody>
                                        <tfoot>
                                            <tr>
                                                <th>Tên bãi đỗ</th>
                                                <th>Số lượt xe máy</th>
                                                <th>Số lượt ô tô</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="col-sm-6" id="ChartCarDensityAll"></div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
