
@{
    ViewBag.Title = "IncomeStatistic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thống kê doanh thu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Thống kê doanh thu</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div id="KindOfIncomeStatistic">
                                <strong style="font-size:x-large">Chọn loại thống kê</strong>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <select class="form-control" id="cbKindOfStatisticIncome" onchange="KindOfStatisticIncome();loadChartIncome()">
                                            <option value="0">Tất cả bãi đỗ</option>
                                            <option value="1">Từng bãi đỗ</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <select class="form-control" id="cbChoiceTimeIncome" onchange="loadChartIncomeAll()">
                                            <option value="0">Trong tháng này</option>
                                            <option value="1">Trong năm này</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="eachParkingIncome">
                                <strong style="font-size:x-large">Bãi đỗ</strong>
                                <select class="form-control w-50" onchange="loadChartIncome()" id="cbNameParkingPlace">
                                </select>
                                <br />
                                <strong style="font-size:x-large">Loại vé</strong>
                                <select class="form-control w-50" onchange="loadChartIncome()" id="cbTypeOfTicket">
                                    <option value="0">Vé tháng</option>
                                    <option value="1">Vé ngày</option>
                                </select>
                            </div><br />
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="ChartIncome"></div>
                            <div class="row" id="dvChartIncome" hidden>
                                <div class="col-sm-6">
                                    <table id="tbChartIncome" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Tháng</th>
                                                <th>Doanh thu xe máy</th>
                                                <th>Doanh thu ô tô</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tbody" id="tbodyChartIncome"></tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="dvChartIncomeAll">
                                <div id="ChartIncomeAll"></div>
                                <table id="tbChartIncomeAll" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Tên bãi đỗ</th>
                                            <th>Doanh thu xe máy(vnđ)</th>
                                            <th>Doanh thu ô tô(vnđ)</th>
                                            <th>Tổng doanh thu(vnđ)</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody" id="tbodyChartIncomeAll"></tbody>
                                </table>
                                <table id="tbChartIncomeAllHide" class="table table-bordered table-hover" hidden>
                                    <thead>
                                        <tr>
                                            <th>Tên bãi đỗ</th>
                                            <th>Doanh thu xe máy(vnđ)</th>
                                            <th>Doanh thu ô tô(vnđ)</th>
                                        </tr>
                                    </thead>
                                    <tbody class="tbody" id="tbodyChartIncomeAllHide"></tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->